<h1 class="my-2"><%= @event.name %></h1>

<div class="row">
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-header">
        主催者
      </div>
      <div class="card-body">
        <% if @event.user %>
          <%= image_tag @event.user.icon %>
          <%= @event.user.name %>
        <% else %>
          退会したユーザです
        <% end %>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-header">
        開催時間
      </div>
      <div class="card-body">
        <%= @event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%=
        @event.end_time.strftime('%Y/%m/%d %H:%M') %>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-header">
        開催場所
      </div>
      <div class="card-body">
        <%= @event.place %>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-header">
        イベント内容
      </div>
      <div class="card-body">
        <%= @event.content %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <% if @event.created_by?(current_user) %>
      <%= link_to "イベントを編集する", edit_event_path(@event),
          class: "btn btn-secondary btn-block" %>
      <%= link_to "イベントを削除する", event_path(@event),
          method: :delete, data: { confirm: "本当に削除しますか？" },
          class: "btn btn-danger btn-block" %>
    <% end %>
    <% if @ticket %>
      <%= link_to "参加をキャンセルする", event_ticket_path(@ticket), method: :delete,
          class: "btn btn-warning btn-block" %>
    <% elsif logged_in? %>
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
              data-target="#createTicket">参加する</button>
      <div class="modal fade" id="createTicket" tabindex="-1" role="dialog"
           aria-labelledby="dialogHeader" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="dialogHeader">参加コメント</h4>
              <button type="button" class="close" data-dismiss="modal"
                      aria-hidden="true">&times;</button>
            </div>
            <%= form_with(model: @event.tickets.build, url: event_tickets_path(@event), remote: true) do |f| %>
              <div class="error_message"></div>
              <div class="modal-body">
                <%= f.text_field :comment, class: "form-control" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <%= f.button "送信", class: "btn btn-primary", data: { disable_with: "送信中..." } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "参加する", new_event_ticket_path(@event), class: "btn btn-primary btn-block" %>
    <% end %>
    <hr>
    <div class="card">
      <div class="card-header">参加者</div>
      <div class="card-body">
        <ul class="list-unstyled">
          <% @tickets.each do |ticket| %>
            <% if ticket.user %>
              <li>
                <%= image_tag ticket.user.icon, width: 20, height: 20 %>
                <%= ticket.user.name %>
                <%= ticket.comment %>
              </li>
            <% else %>
              退会したユーザです
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
